.nomove {
    background-color: #b5c5ca;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}



.card-box {
    padding: 30px;
    padding-top: 0px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #b5c5ca;
    position: relative;
    height: 75vh;
}

.scroll-container{
    background-color: #b5c5ca;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 6px;
    height: 61vh;
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #1111;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.taskList:first-of-type {
    margin-top: 0;
}